<div class="row">
  <div class="col-1 border"><%= todo.id %></div>
  <div class="col-3 border"><%= todo.title %></div>
  <div class="col-4 border"><%= todo.content %></div>
  <div class="col-2 border">
    <%= link_to "Edit", edit_todo_path(todo), class: 'btn btn-primary m-1' %>
  </div>
  <div class="col-2 border">
    <%= button_to "Delete", todo, method: :delete,  class: 'btn btn-danger m-1' %>
  </div>
</div>
