<section class="vh-100" style="background-color: #eee;">
  <div class="py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">Todo List</h4>
            <%= search_form_for @search, html: { data: { turbo_frame: "todo-list", controller: "form", action: "input->form#submit" } },
                                         class: "row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2" do |f| %>
              <div class="col-6">
                <%= f.label :title_cont, "Title", class: 'form-label' %>
                <%= f.search_field :title_cont, class: 'form-control' %>
              </div>
              <div class="col-6">
                <%= f.label :content_cont, "Content", class: 'form-label' %>
                <%= f.search_field :content_cont, class: 'form-control' %>
              </div>
            <% end %>
            <%= turbo_frame_tag "todo-list" do %>
              <%= paginate @todos, theme: 'bootstrap-5' %>
              <%= link_to "Create", new_todo_path, class: 'btn btn-primary', data: { turbo_frame: "new_todo" } %>
              <div class="container m-2 mb-4 text-center">
                <div class="row">
                  <div class="col-1 p-2 border"><%= sort_link(@search, :id) %></div>
                  <div class="col-3 p-2 border"><%= sort_link(@search, :title) %></div>
                  <div class="col-4 p-2 border"><%= sort_link(@search, :content) %></div>
                  <div class="col-2 p-2 border"></div>
                  <div class="col-2 p-2 border"></div>
                </div>
                <%= turbo_frame_tag "new_todo" %>
                <div id="todos">
                  <%= render @todos %>
                </div>
              </div>
              <%= paginate @todos, theme: 'bootstrap-5' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
